<!-- Titulo do formulario muda ao cadastrar ou editar -->
<div>
    <b>User Control</b> | {{title}}
</div>
<!-- Form só aparece se for cadastrar usuário e o usuário tem permissao de cadastro 
   - Ou se o usuário vai editar alguém e tem permissão de editar
   - Ou se o usuário está editando o próprio perfil 
  -->
<form  [formGroup]="usuarioForm" (ngSubmit)="salvar()" 
        *ngIf="(!usuario.id && loginService.userHasPermissions(['cadastro']) ) ||
               ( usuario.id && (loginService.userHasPermissions(['edicao']) || 
                                loginService.editarPerfil(usuario.id))
                )" novalidate >
    <input formControlName="id" name="id"  type="hidden" class="form-control"  [(ngModel)]="usuario.id">
    <div >
        <label for="nome">Nome</label>
        <input formControlName="nome" name="nome"  type="text" class="form-control"  [(ngModel)]="usuario.nome">
    </div>

    <!--div.form-group>label[for='sobrenome']+input[id='sobrenome'].form-control -->
    <div>
        <label for="sobrenome">Sobrenome</label>
        <input formControlName="sobrenome" name="sobrenome"  type="text" class="form-control" [(ngModel)]="usuario.sobrenome">
    </div>

    <div>
        <label for="email">Email</label>
        <input formControlName="email" name="email"  type="text" class="form-control" [(ngModel)]="usuario.email">
    </div>
 
    <div class="selectContainer">
        <label for="idPapel">Papel</label>
        <!--
           - Usuário não pode mudar o Papel
           - Cadastro pode mudar papel para Cadastro ou Usuário
           - Administrador pode todos Papeis
          -->
        <select *ngIf="loginService.isAdmin()" name="idPapel" formControlName="idPapel" class="form-control" [(ngModel)]="usuario.papel.id">
            <option *ngFor="let papel of papeis" [value]="papel.id">{{papel.descricao}}</option>
        </select>
        <select *ngIf="loginService.isCadastro()" name="idPapel" formControlName="idPapel" class="form-control" [(ngModel)]="usuario.papel.id">
            <ng-container *ngFor="let papel of papeis">       
                <option *ngIf="papel.nome != 'administrador'"  [value]="papel.id">{{papel.descricao}}</option>
            </ng-container>
        </select>
        <select *ngIf="loginService.isUsuario()" name="idPapel" formControlName="idPapel" class="form-control" [(ngModel)]="usuario.papel.id">
                <ng-container *ngFor="let papel of papeis">       
                    <option *ngIf="papel.nome != 'administrador' && papel.nome != 'cadastro'"  [value]="papel.id">{{papel.descricao}}</option>
                </ng-container>
        </select>                  

    </div>
    
    <label for="senha">Senha</label>
    <input formControlName="senha" name="senha"  type="password" class="form-control" >


    <label for="confirmarSenha">Confirmar Senha</label>
    <input formControlName="confirmarSenha" name="confirmarSenha"  type="password" class="form-control" >

    <!-- Alerta para confirmar a senha ao cadastrar -->
    <ng-container *ngIf="!usuario.id">   
        <div *ngIf="confirmarSenha.valid && usuarioForm.invalid && usuarioForm.errors?.senhaConfirmada" class="alert alert-danger">
            É necessário confirmar a senha!
        </div>
    </ng-container>
    <!-- Alerta para confirmar a senha se for editar a senha -->
    <ng-container *ngIf="usuario.id">   
            <div *ngIf="confirmarSenha.valid && usuarioForm.errors?.senhaConfirmada" class="alert alert-danger">
                É necessário confirmar a senha!
            </div>
    </ng-container>    

    <div class="mt-6 col-sm-4">
        <!-- Titulo do botao muda ao cadastrar ou editar -->
        <div class="col-sm-3"><button [disabled]="usuarioForm.invalid" class="btn btn-primary float-left">{{titleButton}}</button></div>
        <div class="col-sm-3"><a [routerLink]="['/usuarios']" type="button" class="btn btn-info float-right">Voltar</a></div>
    </div>
</form>