<header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <!-- Pagina Principal -->
          <a [routerLink]="['/usuarios']" class="navbar-brand"><b>User Control</b></a>

        </div>
        <!-- Link de Login ou Logout e Com usuario logado o editar perfil -->
        <div class="navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav">
              <li routerLinkActive="active"><a [routerLink]="['/sobre']">Sobre</a></li>
              <li *ngIf="loginService.isLoogedIn()" routerLinkActive="active"><a [routerLink]="['/usuario',loginService.getId()]"><span class="glyphicon glyphicon-user"> {{loginService.getSub()}}</span></a></li>              
              <li *ngIf="loginService.isLoogedIn()" routerLinkActive="active"><a (click)="loginService.logout()">Logout</a></li>
              <li *ngIf="!loginService.isLoogedIn()" routerLinkActive="active"><a [routerLink]="['/login']">Login</a></li>
              
          </ul>
        </div>
        
  
      </div>
    </nav>
</header>