<div class="container col-xs-12 col-sm-offset-3 col-sm-6 text-center">
  <div>Projeto User Control</div>

  <div>Feito por: Ruben Perorazio de Albuquerque</div>

  <div>Controle de usuários com papel de usuário e permissões dos papeis no sistema.</div>
</div>
