<div class="wrapper">
  
    <!-- Início do header -->
    <uc-header></uc-header>
    <!-- Fim do header -->
  
    <div class="content-wrapper">
      <div class="container">
  
        <router-outlet></router-outlet>
  
      </div>
    </div>
  
    
  
    <footer class="main-footer">
      <div class="container ">
        <div class="text-center ">
            <strong>User Control</strong> Angular Application
        </div>
        <div class="text-center ">
          <b>Versão</b> 1.0.0
      </div>
        
      </div>
    </footer>
  </div>
