<!-- Se usuario tem permissao de edicao mostra com possibilidade de editar ou
   - se for pra editar o próprio usuário na lista
  -->
<div >
  <a *ngIf="loginService.userHasPermissions(['edicao']) || loginService.editarPerfil(usuario.id)" [routerLink]="['/usuario',usuario.id]">
    <div class="col-sm-1"><span >{{usuario.nome}}</span></div>
    <div class="col-sm-1"><span >{{usuario.sobrenome}}</span></div>
    <div class="col-sm-4"><span >{{usuario.email}}</span></div>
    <div class="col-sm-2"><span >{{usuario.papel.descricao}}</span></div>
  </a>
  <div *ngIf="!loginService.userHasPermissions(['edicao']) && !loginService.editarPerfil(usuario.id)">
    <div class="col-sm-1"><span >{{usuario.nome}}</span></div>
    <div class="col-sm-1"><span >{{usuario.sobrenome}}</span></div>
    <div class="col-sm-4"><span >{{usuario.email}}</span></div>
    <div class="col-sm-2"><span >{{usuario.papel.descricao}}</span></div> 
  </div>
  
</div>