<section class="content login-content" >
  <div >
       <b>User Control</b> | Login
  </div>
  <div class="col-xs-12 col-sm-offset-3 col-sm-6">
    <p class="login-box-msg">Por favor, efetue o login para continuar</p>

    <form [formGroup]="loginForm"> 

      <input type="text" formControlName="email" class="form-control" placeholder="Email">
      <input type="password" formControlName="password" class="form-control" placeholder="Password">
      <div class="row">
      <!-- /.col -->
        <div class="col-xs-offset-8 col-xs-4">
          <button type="submit" [disabled]="loginForm.invalid" (click)="login()"  class="btn btn-primary btn-block btn-flat">Entrar</button>
        </div>
      <!-- /.col -->
      </div>
    </form>
  </div>
</section>