<section class="content">
  <div >
      <b>User Control</b> | Usuários
  </div>
  <div >
    <!-- Se usuário tem permissao de cadastro aparece botao -->
    <a *ngIf="loginService.userHasPermissions(['cadastro'])" [routerLink]="['/usuario']" type="button" class="btn btn-success btn-xs ">Cadastrar Usuario</a>
  </div>
  <div class="row">
    <div *ngFor="let usuario of usuarios" class="col-sm-12 col-xs-6">
      <uc-usuario [usuario]="usuario"></uc-usuario>
      <div class="col-sm-2">
         <!-- Se usuário tem permissao de remocao aparece botao -->
        <button *ngIf="loginService.userHasPermissions(['remocao'])" (click)="removerUsuario(usuario)" type="button" class="btn btn-danger btn-xs ">Remover</button>

      </div>
    </div>
    <!--
       - Foi mais rápido implementar uma paginacão
      -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
          <li [class.disabled]="first">
            <a *ngIf="!first" (click)="irParaPagina(number-1)"  aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            <a *ngIf="first"  aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
          </li>
          <ng-container *ngFor="let n of totalPages">
            <li [class.active]="n==number" ><a (click)="irParaPagina(n)" >{{n+1}}</a></li>
          </ng-container>
          <li [class.disabled]="last">
            <a *ngIf="!last" (click)="irParaPagina(number+1)"  aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            <a *ngIf="last" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
          </li>
        </ul>
      </nav>
  </div>

</section>